<?xml version="1.0" encoding="ISO-8859-1"?>
<document
    xmlns="http://maven.apache.org/XDOC/2.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">
  <properties><title>Using Library Detectors</title></properties>
  <body>
    <p>
      To use Library Detectors in a maven project, include the following in your pom.xml:
      <pre class="source">
    &lt;plugins&gt;
      &lt;plugin&gt;
        &lt;groupId&gt;org.codehaus.mojo&lt;/groupId&gt;
        &lt;artifactId&gt;findbugs-maven-plugin&lt;/artifactId&gt;
        &lt;version&gt;2.5&lt;/version&gt;
        &lt;configuration&gt;
          &lt;plugins&gt;
            &lt;plugin&gt;
              &lt;groupId&gt;com.overstock.findbugs&lt;/groupId&gt;
              &lt;artifactId&gt;library-detectors&lt;/artifactId&gt;
              &lt;version&gt;${project.version}&lt;/version&gt;
            &lt;/plugin&gt;
          &lt;/plugins&gt;
        &lt;/configuration&gt;
      &lt;/plugin&gt;
    &lt;/plugins&gt;
      </pre>
    </p>
  </body>
</document>
